.App {
  text-align: center;
  background-color: blueviolet;
  font-family: AppleGothic, cursive;
  font-size: 15px;
}

.App-header {
  background-color: gold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  padding: 7px;
  color: lavenderblush;
  white-space: pre-line;
  text-align: center;
  margin: 7px;
}

h2 a {
  color: silver;
  white-space: pre-line;
  text-align: center;
  /*border-style: wave;*/
  border: 6px solid blanchedalmond;
  border-radius: 20px;
  padding: 5px;
}

#content-container{
  text-align: center;
  background-color: brown;
}

img {
  width: 150px;
  height: auto;
  text-align: center;

  margin-top: 130px;
  justify-content: center;
}