.App {
  text-align: center;
  background-color: darkseagreen;
}

.App-header {
  background-color: darkseagreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  padding: 7px;
  color: lavenderblush;
  white-space: pre-line;
  text-align: center;
  margin: 7px;
}

h2 a {
  padding: 0px;
  color: mediumpurple;
  white-space: pre-line;
  text-align: center;
  /*border-style: wave;*/
  border: 6px solid mediumpurple;
  border-radius: 20px;
  padding: 5px;
}

#content-container{
  text-align: center;
  background-color: darkseagreen;
}

img {
  width: 150px;
  height: auto;
  text-align: center;

  margin-top: 130px;
  justifyContent: 'center',
}