.App {
  text-align: center;
  background-color: blueviolet;
  font-family: AppleGothic, cursive;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h3 {
  padding: 7px;
  color: blue;
  white-space: pre-line;
  text-align: center;
  margin: 7px;
  font-family: AppleGothic, cursive;
}

h3 a {
  color: silver;
  white-space: pre-line;
  text-align: center;
  border-style: wave;
  border-radius: 20px;
  padding: 5px;
  /*font-size: 15px;*/

}

#content-container{
  text-align: center;
  background-color: white;
  /*font-size: 15px;*/
}

img {
  /*width: auto;*/
  /*height: auto;*/
  max-width: 350px;
  max-height: 400px;

  text-align: center;

  margin-top: 130px;
  /*justify-content: center;*/
}